@import "tailwindcss";

*{
  box-sizing: border-box !important;
  font-family: "DM Sans", sans-serif !important;
}

body{
    height: 100% !important;
    background-color: #FFFFFF !important;
    overflow: hidden !important;
   
}

.hide-scrollbar {
  scrollbar-width: none;      
  -ms-overflow-style: none;  
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;          
}

/* 
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
} */


input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); 
  margin-right: 12px; 
  cursor: pointer;
}


.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  padding-right: 48px; 
}

